<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_NAME:c99extidentifier).OEArcadeSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Configure</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeUIConfigure</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Insert Coin</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonInsertCoin</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Player Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonP1Start</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Service</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButtonService</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Button 6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEArcadeButton6</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEArcadeButtonUp</string>
				<string>OEArcadeButtonDown</string>
			</array>
			<array>
				<string>OEArcadeButtonLeft</string>
				<string>OEArcadeButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEArcadeButtonUp</string>
				<string>OEArcadeButtonRight</string>
				<string>OEArcadeButtonDown</string>
				<string>OEArcadeButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>zip</string>
		<string>7z</string>
		<string>chd</string>
		<string>bin</string>
		<string>rom</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEArcadeButtonUp</string>
		<string>OEArcadeButtonDown</string>
		<string>OEArcadeButtonLeft</string>
		<string>OEArcadeButtonRight</string>
		<string>OEArcadeButton1</string>
		<string>OEArcadeButton2</string>
		<string>OEArcadeButton3</string>
		<string>OEArcadeButton4</string>
		<string>OEArcadeButton5</string>
		<string>OEArcadeButton6</string>
		<string>OEArcadeButtonP1Start</string>
		<string>OEArcadeButtonInsertCoin</string>
		<string>OEArcadeButtonService</string>
		<string>OEArcadeUIConfigure</string>
		<string>OEArcadeA</string>
		<string>OEArcadeB</string>
		<string>OEArcadeC</string>
		<string>OEArcadeD</string>
		<string>OEArcadeE</string>
		<string>OEArcadeF</string>
		<string>OEArcadeG</string>
		<string>OEArcadeH</string>
		<string>OEArcadeI</string>
		<string>OEArcadeJ</string>
		<string>OEArcadeK</string>
		<string>OEArcadeL</string>
		<string>OEArcadeM</string>
		<string>OEArcadeN</string>
		<string>OEArcadeO</string>
		<string>OEArcadeP</string>
		<string>OEArcadeQ</string>
		<string>OEArcadeR</string>
		<string>OEArcadeS</string>
		<string>OEArcadeT</string>
		<string>OEArcadeU</string>
		<string>OEArcadeV</string>
		<string>OEArcadeW</string>
		<string>OEArcadeX</string>
		<string>OEArcadeY</string>
		<string>OEArcadeZ</string>
		<string>OEArcade0</string>
		<string>OEArcade1</string>
		<string>OEArcade2</string>
		<string>OEArcade3</string>
		<string>OEArcade4</string>
		<string>OEArcade5</string>
		<string>OEArcade6</string>
		<string>OEArcade7</string>
		<string>OEArcade8</string>
		<string>OEArcade9</string>
		<string>OEArcadeF1</string>
		<string>OEArcadeF2</string>
		<string>OEArcadeF3</string>
		<string>OEArcadeF4</string>
		<string>OEArcadeF5</string>
		<string>OEArcadeF6</string>
		<string>OEArcadeF7</string>
		<string>OEArcadeF8</string>
		<string>OEArcadeF9</string>
		<string>OEArcadeF10</string>
		<string>OEArcadeF11</string>
		<string>OEArcadeF12</string>
		<string>OEArcadeF13</string>
		<string>OEArcadeF14</string>
		<string>OEArcadeF15</string>
		<string>OEArcadeF16</string>
		<string>OEArcadeF17</string>
		<string>OEArcadeF18</string>
		<string>OEArcadeF19</string>
		<string>OEArcadeF20</string>
		<string>OEArcadeESC</string>
		<string>OEArcadeTILDE</string>
		<string>OEArcadeMINUS</string>
		<string>OEArcadeEQUALS</string>
		<string>OEArcadeBACKSPACE</string>
		<string>OEArcadeTAB</string>
		<string>OEArcadeOPENBRACE</string>
		<string>OEArcadeCLOSEBRACE</string>
		<string>OEArcadeENTER</string>
		<string>OEArcadeCOLON</string>
		<string>OEArcadeQUOTE</string>
		<string>OEArcadeBACKSLASH</string>
		<string>OEArcadeBACKSLASH2</string>
		<string>OEArcadeCOMMA</string>
		<string>OEArcadeSTOP</string>
		<string>OEArcadeSLASH</string>
		<string>OEArcadeSPACE</string>
		<string>OEArcadeINSERT</string>
		<string>OEArcadeDEL</string>
		<string>OEArcadeHOME</string>
		<string>OEArcadeEND</string>
		<string>OEArcadePGUP</string>
		<string>OEArcadePGDN</string>
		<string>OEArcadeLEFT</string>
		<string>OEArcadeRIGHT</string>
		<string>OEArcadeUP</string>
		<string>OEArcadeDOWN</string>
		<string>OEArcade0_PAD</string>
		<string>OEArcade1_PAD</string>
		<string>OEArcade2_PAD</string>
		<string>OEArcade3_PAD</string>
		<string>OEArcade4_PAD</string>
		<string>OEArcade5_PAD</string>
		<string>OEArcade6_PAD</string>
		<string>OEArcade7_PAD</string>
		<string>OEArcade8_PAD</string>
		<string>OEArcade9_PAD</string>
		<string>OEArcadeSLASH_PAD</string>
		<string>OEArcadeASTERISK</string>
		<string>OEArcadeMINUS_PAD</string>
		<string>OEArcadePLUS_PAD</string>
		<string>OEArcadeDEL_PAD</string>
		<string>OEArcadeENTER_PAD</string>
		<string>OEArcadeBS_PAD</string>
		<string>OEArcadeTAB_PAD</string>
		<string>OEArcade00_PAD</string>
		<string>OEArcade000_PAD</string>
		<string>OEArcadeCOMMA_PAD</string>
		<string>OEArcadeEQUALS_PAD</string>
		<string>OEArcadePRTSCR</string>
		<string>OEArcadePAUSE</string>
		<string>OEArcadeLSHIFT</string>
		<string>OEArcadeRSHIFT</string>
		<string>OEArcadeLCONTROL</string>
		<string>OEArcadeRCONTROL</string>
		<string>OEArcadeLALT</string>
		<string>OEArcadeRALT</string>
		<string>OEArcadeSCRLOCK</string>
		<string>OEArcadeNUMLOCK</string>
		<string>OEArcadeCAPSLOCK</string>
		<string>OEArcadeLWIN</string>
		<string>OEArcadeRWIN</string>
		<string>OEArcadeMENU</string>
		<string>OEArcadeCANCEL</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>8</integer>
	<key>OEResponderClassKey</key>
	<string>OEArcadeSystemResponder</string>
	<key>OESystemIcon</key>
	<string>arcade_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.arcade</string>
	<key>OESystemName</key>
	<string>Arcade</string>
	<key>OESystemType</key>
	<string>OESystemTypeArcade</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaArcadeROM</string>
	</array>
</dict>
</plist>
